body {
    background-color: #0d0f17;
    margin: 0;
    padding: 0;

}

header {
    background-color: #161C2E;
    color: white;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo img {
    height: 50px;
    margin-left: 50px;
}

nav ul {
    list-style: none;
    margin-right: 50px;
}

nav li {
    display: inline;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: gold;
    font-size: 24px;
    box-shadow: 0 0 10px gold;


}

.container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: visible;
    position: relative; 
}

.img-container {
    width: 100%;
    max-width: 100vw;
    position: relative; 
    overflow:visible;
    order: 1;
}

.img-1 {
    width: 100%; 
    height: 500px;
   position:relative;
    animation: slideUp 2s ease-in-out infinite alternate;
}

.img-2 {
    width: 400px; 
    height: 400px;
    max-width: 100%; 
    position: absolute;
    top: calc(60% + 10%);;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border-radius: 50%;
}
@keyframes slideUp{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}
@media  screen and(max-width: 768px) {
    .container{
        padding: 2px;
    }
    .img-1, .img-2{
        height: auto;
    }
}

.container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    order: 2;
}

.text-block {
    width: 400px;
    height: 214px;
    font-size: 60px;
    text-align: center;
    color: white;
    animation: fadeIn 2s ease-in-out;
    margin: 0 auto;
}

.description {
    width: 700px;
    height: 256px;
    text-align: center;
    color: white;
    animation: slideIn 2s ease-in-out;
    margin: 0 auto;
    margin-bottom: 10%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Адаптация для маленьких экранов */
@media (max-width: 600px) {
    .text-block {
        font-size: 36px;
    }

    .description {
        font-size: 18px;
    }
}

/* Адаптация для планшетов */
@media (min-width: 601px) and (max-width: 1024px) {
    .text-block {
        font-size: 48px;
    }

    .description {
        font-size: 24px;
    }
}

/* Адаптация для больших экранов */
@media (min-width: 1025px) {
    .text-block {
        font-size: 72px;
    }

    .description {
        font-size: 30px;
    }
}

.announcement {
    height: 3px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 2%;
}

.title {
    animation-name: fade-in;
    animation-duration: 0.3s;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid gold;
    background-color: #0d0f17;
    border-radius: 30px;
    padding: 10px 50px;
}

.title:hover {

    color: gold;
    font-size: 26px;
    box-shadow: 0 0 6px gold;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.container{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.row{
    display: flex;
    justify-content: center;
    width: 100%;
}
.block{
    border:2px solid gold;
    margin:10px;
    padding:20px;
    animation: fade-in  1s ease-in-out;
    width: 400px;
    height: 400px;
    flex:1;
    box-shadow: 1px 1px 6px gold;
    text-align: center;


}
.block:hover{
    box-shadow: 2px 2px 12px gold;
}
 h2{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    color:white;
}
.content ul{
    list-style-type: square;
    padding-left:20px;
}
h2:hover{
    font-size:21px;
    box-shadow:0px 0px 12px white;
}
.content li{
    font-size:18px;
    color:white;


}
.content li:hover{
    font-size:19px;
    box-shadow:0px 0px 12px white;

}
@keyframes fade-in {
0%{
    opacity: 0;
}    
100%{
    opacity: 1;
}
}
@media screen and (max-width:1024px){
    .block{
        padding: 10px;
        width: 250px;
        height: 250px;
    }
    .block h2{
        font-size:18px;
    }
    .content li{
        font-size: 16px;
    }
}
@media screen and (max-width:750px){
    .block{
        padding:10px;
        width: 200px;
        height: 200px;
    }
    .block h2{
        font-size:16px;
    }
    .content li{
        font-size: 14px;
    }
    
}
.angry-grid {
    display: grid; 
 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    gap: 0px;
    height: 100%;
    
 }
   
 #item-0 {
 
    background-color: #866A7B; 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 3;
    
 }
 #item-1 {
 
    background-color: #65FB7D; 
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;
    
 }
 #item-2 {
 
    background-color: #E7BAC5; 
    grid-row-start: 2;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 3;
    
 }
 #item-3 {
 
    background-color: #557977; 
    grid-row-start: 3;
    grid-column-start: 1;
 
    grid-row-end: 4;
    grid-column-end: 3;
    
 }
 #item-4 {
 
    background-color: #D97575; 
    grid-row-start: 3;
    grid-column-start: 3;
 
    grid-row-end: 5;
    grid-column-end: 4;
    
 }
 #item-5 {
 
    background-color: #CBD9B5; 
    grid-row-start: 4;
    grid-column-start: 1;
 
    grid-row-end: 5;
    grid-column-end: 3;
    
 }
